<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telsuko App</title>

    <!-- PLUGINS CSS STYLE -->
    <!-- Bootstrap -->
    <link href="/templates/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- themify icon -->
    <link rel="stylesheet" href="/templates/plugins/themify-icons/themify-icons.css">
    <!-- Slick Carousel -->
    <link href="/templates/plugins/slick/slick.css" rel="stylesheet">
    <!-- Slick Carousel Theme -->
    <link href="/templates/plugins/slick/slick-theme.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="/templates/css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="/templates/images/favicon.png" rel="shortcut icon">

</head>

<body class="body-wrapper">


    <nav class="navbar main-nav fixed-top navbar-expand-lg large">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="/templates/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu text-white"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="#feature">Features</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollTo" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--=====================================
=            Homepage Banner            =
======================================-->

    <section class="banner bg-1" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 align-self-center">
                    <!-- Contents -->
                    <div class="content-block">
                        <h1>Amazing App Best for E-Learning</h1>
                        <h5>Let you track everything in your life with a simple way</h5>
                        <!-- App Badge -->
                        <div class="app-badge">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-download"><i class="ti-android"></i>
									<div>Available on the<span>GOOGLE PLAY</span></div>
								</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-download"><i class="ti-apple"></i>
									<div>Coming Soon<span>Apple store</span></div>
								</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- App Image -->
                    <div class="image-block">
                        <img class="img-fluid phone-thumb" src="/templates/images/phones/iphone-banner.png" alt="iphone-banner">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Homepage Banner  ====-->

    <!--===========================
=            About            =
============================-->

    <section class="about section bg-2" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center">
                    <!-- Image Content -->
                    <div class="image-block">
                        <img class="phone-thumb-md" src="/templates/images/phones/iphone-feature.png" alt="iphone-feature" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
                    <div class="about-block">
                        <!-- About 01 -->
                        <div class="about-item">
                            <div class="icon">
                                <i class="ti-palette"></i>
                            </div>
                            <div class="content">
                                <h5>Creative Design</h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accounta</p>
                            </div>
                        </div>
                        <!-- About 02 -->
                        <div class="about-item active">
                            <div class="icon">
                                <i class="ti-panel"></i>
                            </div>
                            <div class="content">
                                <h5>Easy to Use</h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accounta</p>
                            </div>
                        </div>
                        <!-- About 03 -->
                        <div class="about-item">
                            <div class="icon">
                                <i class="ti-vector"></i>
                            </div>
                            <div class="content">
                                <h5>Best User Experience</h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accounta</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of About  ====-->

    <!--==============================
=            Features            =
===============================-->

    <section class="section feature" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>App Features</h2>
                        <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p>
                    </div>
                </div>
            </div>
            <div class="row bg-elipse">
                <div class="col-lg-4 align-self-center text-center text-lg-right">
                    <!-- Feature Item -->
                    <div class="feature-item">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-brush-alt"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>Beautiful Interface Design</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                    <!-- Feature Item -->
                    <div class="feature-item">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-gift"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>Unlimited Features</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <!-- Feature Item -->
                    <div class="feature-item mb-0">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-comments"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>Full free chat</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                    <div class="app-screen">
                        <img class="img-fluid" src="templates/images/phones/i-phone-screen.png" alt="app-screen">
                    </div>
                    <!-- Feature Item -->
                    <div class="feature-item">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-support"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>24/7 support by real people</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-left align-self-center">
                    <!-- Feature Item -->
                    <div class="feature-item">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-image"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>Retina ready greaphics</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                    <!-- Feature Item -->
                    <div class="feature-item">
                        <!-- Icon -->
                        <div class="icon">
                            <i class="ti-pie-chart"></i>
                        </div>
                        <!-- Content -->
                        <div class="content">
                            <h5>IOS & android version </h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Features  ====-->

    <!--=================================
=            Promo Video            =
==================================-->

    <section class="section promo-video bg-3 overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Promo Video -->
                    <div class="video">
                        <img class="img-fluid" src="/templates/images/backgrounds/promo-video-bg.jpg" alt="video-thumbnail">
                        <div class="video-button video-box">
                            <!-- Video Play Button -->
                            <a href="javascript:void(0)">
                                <span class="icon" data-video="https://www.youtube.com/embed/jrkvirglgaQ?autoplay=1">
								<i class="ti-control-play"></i>
							</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Promo Video  ====-->



    <!--=============================================
=            Call to Action Download            =
==============================================-->

    <section class="cta-download bg-3 overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center">
                    <div class="image-block"><img class="phone-thumb img-fluid" src="/templates/images/phones/iphone-chat.png" alt=""></div>
                </div>
                <div class="col-lg-7">
                    <div class="content-block">
                        <!-- Title -->
                        <h2>Free Download Now</h2>
                        <!-- Desctcription -->
                        <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p>
                        <!-- App Badge -->
                        <div class="app-badge">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-download"><i class="ti-android"></i>
									<div>Available on the<span>GOOGLE PLAY</span></div>
								</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-download"><i class="ti-apple"></i>
									<div>Coming Soon<span>Apple store</span></div>
								</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Call to Action Download  ====-->

    <!--=============================
=            Counter            =
==============================-->

    <section class="section counter bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="counter-item">
                        <!-- Counter Number -->
                        <h3><span class="count" data-count="29">0</span>k</h3>
                        <!-- Counter Name -->
                        <p>Download</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="counter-item">
                        <!-- Counter Number -->
                        <h3><span class="count" data-count="200">0</span>k</h3>
                        <!-- Counter Name -->
                        <p>Active Account</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="counter-item">
                        <!-- Counter Number -->
                        <h3><span class="count" data-count="60">0</span>k</h3>
                        <!-- Counter Name -->
                        <p>Happy User</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="counter-item">
                        <!-- Counter Number -->
                        <h3><span class="count" data-count="300">0</span>k<sup>+</sup></h3>
                        <!-- Counter Name -->
                        <p>Download</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Counter  ====-->

    <!--==========================
=            Team            =
===========================-->

    <section class="section team bg-shape-two" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-4">
                        <h2 class="mb-3">Our Creative Team</h2>
                        <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member -->
                    <div class="team-member text-center mb-4 mb-lg-0">
                        <div class="image">
                            <img class="img-fluid" src="/templates/images/team/member-one.jpg" alt="team-member">
                        </div>
                        <div class="name">
                            <h5>Vishnu Pardhasardhi</h5>
                        </div>
                        <div class="position">
                            <p>Founder</p>
                        </div>
                        <div class="skill-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width:100%;"></div>
                            </div>
                            <span>100%</span>
                        </div>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href=""><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member -->
                    <div class="team-member text-center mb-4 mb-lg-0">
                        <div class="image">
                            <img class="img-fluid" src="/templates/images/team/member-two.jpg" alt="team-member">
                        </div>
                        <div class="name">
                            <h5>Rakesh chaluvadi</h5>
                        </div>
                        <div class="position">
                            <p>Co-Founder</p>
                        </div>
                        <div class="skill-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width:50%;"></div>
                            </div>
                            <span>50%</span>
                        </div>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href=""><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member -->
                    <div class="team-member text-center mb-4 mb-lg-0">
                        <div class="image">
                            <img class="img-fluid" src="/templates/images/team/member-three.jpg" alt="team-member">
                        </div>
                        <div class="name">
                            <h5>Sravan Ambati</h5>
                        </div>
                        <div class="position">
                            <p>Co-Founder</p>
                        </div>
                        <div class="skill-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width:50%;"></div>
                            </div>
                            <span>50%</span>
                        </div>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href=""><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member -->
                    <div class="team-member text-center mb-4 mb-lg-0">
                        <div class="image">
                            <img class="img-fluid" src="/templates/images/team/member-four.jpg" alt="team-member">
                        </div>
                        <div class="name">
                            <h5>Vishnu Pardhasardhi</h5>
                        </div>
                        <div class="position">
                            <p>UX/UI designer </p>
                        </div>
                        <div class="skill-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width:100%;"></div>
                            </div>
                            <span>100%</span>
                        </div>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href=""><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Team  ====-->

    <!--=================================
=            Testimonial            =
==================================-->

    <section class="section testimonial bg-primary-shape" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-white">Our Happy Users</h2>
                        <p class="text-white"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <!-- Testimonial Carosel -->
                    <div class="testimonial-slider">
                        <!-- testimonial item -->
                        <div class="testimonial-item">
                            <div class="row">
                                <div class="col-md-5 client-img" style="background-image: url(templates/images/testimonial/client-2.jpg);">
                                </div>
                                <div class="col-md-7">
                                    <div class="p-4 bg-white">
                                        <strong class="mb-3 d-block">Best Platform for E-Learning</strong>
                                        <p class="lead font-italic mb-4">I recently joined and I enjoy learning here.</p>
                                        <h6>Venkatesh</h6>
                                        <p>CEO - Vishnu Pardhasardhi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- testimonial item -->
                        <div class="testimonial-item">
                            <div class="row">
                                <div class="col-md-5 client-img" style="background-image: url(templates/images/testimonial/client-1.jpg);">
                                </div>
                                <div class="col-md-7">
                                    <div class="p-4 bg-white">
                                        <strong class="mb-3 d-block">Best Way to Update Knowledge</strong>
                                        <p class="lead font-italic mb-4">Super Easy to learn New Topics and Practice </p>
                                        <h6>Sridhar</h6>
                                        <p>CEO - Vishnu Pardhasardhi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--====  End of Testimonial  ====-->

    <section class="section cta-subscribe" id="contact">
        <div class="container">
            <div class="row bg-elipse-red">
                <div class="col-lg-4">
                    <div class="image"><img class="phone-thumb" src="/templates/images/phones/iphone-feature.png"></div>
                </div>
                <div class="col-lg-8 align-self-center">
                    <div class="content">
                        <div class="mb-4">
                            <h2>Contact-us</h2>
                        </div>
                        <div class="description">
                            <p>Support@telsuko.com</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--============================
=            Footer            =
=============================-->

    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mr-auto">
                    <div class="footer-logo">
                        <img src="/templates/images/logo.png">
                    </div>
                    <div class="copyright">
                        <p>@2019 Themefisher All Rights Reserved
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <!-- Social Icons -->
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/IAmTelsuko"><i class="text-primary ti-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://twitter.com/IAmTelsuko"><i class="text-primary ti-twitter-alt"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="www.linkedin.com/in/telsuko"><i class="text-primary ti-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/iamtelsuko/"><i class="text-primary ti-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.youtube.com/channel/UCmZ-Gc8yoKeLyIHbt162Z8w"><i class="text-primary ti-support"></i></a>
                        </li>
                    </ul>
                    <!-- Footer Links -->
                    <ul class="footer-links list-inline">
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#about">ABOUT</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#team">TEAM</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="scrollTo" href="#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPTS -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

    <script src="/templates/plugins/jquery/jquery.js"></script>
    <script src="/templates/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/templates/plugins/slick/slick.min.js"></script>
    <script src="/templates/js/custom.js"></script>

</body>

</html>